{% extends 'unevu/base.html' %}
{% load staticfiles %}
{% block css %}
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}"></link>
{% endblock %}

{% block body %}

<div class="container">
    
    <br />
    
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <br><br>
            <p>About to graduate from high school and don't know where you heading next to? <b>Unevu.</b> <br /></p>
            
            <p>Already in a University but want to change to a new? <b>Unevu.</b></p>

            <p> Don't know all the subjects in your University and you are trying to figure out what to do? <b>Unevu.</b></p>
            <br><br>
            <h2><strong>About Unevu</strong></h2>
            <p>
                As a student, it's not just about finding the right course - you also need to know that the institution
                you are choosing is the right fit for you, too. To help you explore your options, our profiles of
                universities and colleges offering degree courses feature real-life student reviews on subjects,
                teacher and university itself.
            </p>
            
            <p>Figure out all the questions with a single search. Don't worry about what to do, when you have Unevu.</p>
            <br><br>
            <h2><strong>The project</strong></h2>
            <p>
                Unevu is designed by a group of 2nd year Computing Science students at the University of
                Glasgow as part of our Web Application Development CourseWork.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="{% static 'images/about-image.jpg' %}"
            align="right" style="width:100%;margin-top:25%;" />
        </div>
    </div>
    
    
    
    
</div>
    
<script src="{% static 'js/about.js' %}"></script>

{% endblock %}

