{% extends 'unevu/base.html' %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
    <script src="{% static 'js/jquery.bxslider.js' %}"></script>
{% endblock %}

{% block body %}
        <div class="container">
            <div class="col-lg-12 introduction-div">
                <div class="col-lg-12 introduction-title">
                    <h1>Welcome To The New Way Of Choosing</h1>
                </div>
                <div class="col-lg-6 introduction-img-title">
                    <h1>Go to a place that <br>
                        you can call home</h1>
                </div>
                <div class="col-lg-6 introduction-img">
                        <img src="{% static 'images/home_background.jpg' %}" class="introduction-img">
                </div>
            </div>
            <div class="col-lg-12 pick-university-detail">
                {% csrf_token %}
                <div class="col-lg-12 pick-university-detail-title">
                    <h1>Choose A University</h1>
                </div>
                <div class="col-lg-6 col-lg-offset-3 pick-university">
                    {% for university in universities %}
                        <button class="btn btn-teal full university"><h3>{{university.name}}</h3></button>
                    {% endfor %}
                </div>
                <div class="col-lg-4 pick-field">
                </div>
                <div class="col-lg-4 pick-subject">
                </div>
            </div>
            <div class="col-lg-12 top-recommendation-div">
                <div class="col-lg-12 top-recommendation-title">
                    <h1>Pick From The Best Of The Best</h1>
                </div>
                <div class="col-lg-6 top-universities-div">
                    <h1 class="top-universities-title"> Top Universities </h1>
                    <br>
                    <h3>
                        <ul class="top-universities-list">
                            <a href="/university/1"><li>The University of Glasgow</li></a>
                            <a href="/university/24"><li>The University of Edinburgh</li></a>
                            <a href="/university/2"><li>Cambridge University</li></a>
                            <a href="/university/3"><li>Oxford University</li></a>
                            <a href="/university/6"><li>Imperial College of London</li></a>
                        </ul>
                    </h3>
                </div>
                <div class="col-lg-6 top-subjects-div">
                    <h1 class="top-subjects-title"> Top Subjects </h1>
                    <br>
                    <h3>
                        <ul class="top-subjects-list">
                            <a href="/subjects/computing-science"><li>Computing Science</li></a>
                            <a href="/subjects/artificial-intelligence"><li>Artificial Intelligence</li></a>
                            <a href="/subjects/bio-medical"><li>Bio-Medical</li></a>
                            <a href="/subjects/electrical-and-electronic-engeering"><li>Electrical and Electronic Engineering</li></a>
                            <a href="/subjects/economics"><li>Economics</li></a>
                        </ul>
                    </h3>
                </div>
            </div>
        </div>

        <!-- Adding the scripts that need to be run after the html has been rendered -->
        <script src="{% static 'js/home.js' %}"></script>
        
        
{% endblock %}