{% extends 'unevu/base.html' %}

{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}"></link>
{% endblock %}

{% block body %}
        <div class="container">
            <div class="col-lg-12 introduction-div">
                <div class="col-lg-12 introduction-title">
                    <h1>Welcome To The New Way Of Choosing</h1>
                </div>
                <div class="col-lg-6 introduction-img-title">
                    <h1>Go to a place that <br>
                        you can call home</h1>
                </div>
                <div class="col-lg-6 introduction-img">
                        <img src="{% static 'images/home_background.jpg' %}" class="introduction-img">
                </div>
            </div>
            <div class="col-lg-12 top-recommendation-div">
                <div class="col-lg-12 top-recommendation-title">
                    <h1>Pick From The Best Of The Best</h1>
                </div>
                <div class="col-lg-6 top-universities-div">
                    <h1 class="top-universities-title"> Top Universities </h1>
                    <br>
                    <h3>
                        <ul class="top-universities-list">
                            <a href="/university/the-university-of-glasgow"><li>The University of Glasgow</li></a>
                            <a href="/university/the-university-of-edinburgh"><li>The University of Edinburgh</li></a>
                            <a href="/university/cambridge-university"><li>Cambridge University</li></a>
                            <a href="/university/oxford-university"><li>Oxford University</li></a>
                            <a href="/university/imperial-college-of-london"><li>Imperial College of London</li></a>
                        </ul>
                    </h3>
                </div>
                <div class="col-lg-6 top-subjects-div">
                    <h1 class="top-subjects-title"> Top Subjects </h1>
                    <br>
                    <h3>
                        <ul class="top-subjects-list">
                            <a href="/subjects/computing-science"><li>Computing Science</li></a>
                            <a href="/subjects/artificial-intelligence"><li>Artificial Intelligence</li></a>
                            <a href="/subjects/bio-medical"><li>Bio-Medical</li></a>
                            <a href="/subjects/electrical-and-electronic-engeering"><li>Electrical and Electronic Engineering</li></a>
                            <a href="/subjects/economics"><li>Economics</li></a>
                        </ul>
                    </h3>
                </div>
            </div>
            <div class="col-lg-12 pick-university-detail">
                <div class="col-lg-12 pick-university-detail-title">
                    <h1>Choose A University</h1>
                </div>
                <div class="col-lg-4 pick-university">
                    <button class="btn btn-teal full active"><h3>The University of Glasgow</h3></button>
                    <button class="btn btn-teal full"><h3>Cambridge University</h3></button>
                    <button class="btn btn-teal full"><h3>St. Andrews</h3></button>
                    <button class="btn btn-teal full"><h3>The University of Manchester</h3></button>
                    <button class="btn btn-teal full"><h3>The University of Edinburgh</h3></button>
                    <button class="btn btn-teal full"><h3>Oxford University</h3></button>
                    <button class="btn btn-teal full"><h3>The University of Dundee</h3></button>
                    <button class="btn btn-teal full"><h3>Kings College London</h3></button>
                </div>
                <div class="col-lg-4 pick-field">
                    <button class="btn btn-teal-light full active"><h3>School of Computing</h3></button>
                    <button class="btn btn-teal-light full"><h3>School of Computing</h3></button>
                    <button class="btn btn-teal-light full"><h3>School of Engineering</h3></button>
                    <button class="btn btn-teal-light full"><h3>School of Medicine</h3></button>
                    <button class="btn btn-teal-light full"><h3>School of Science</h3></button>
                    <button class="btn btn-teal-light full"><h3>School of Economics</h3></button>
                    <button class="btn btn-teal-light full"><h3>School of Arts</h3></button>
                </div>
                <div class="col-lg-4 pick-subject">
                    <button class="btn btn-teal-lightest full"><h3>Deep Learning</h3></button>
                    <button class="btn btn-teal-lightest full"><h3>Artificial Intelligence</h3></button>
                    <button class="btn btn-teal-lightest full"><h3>Machine Learning</h3></button>
                    <button class="btn btn-teal-lightest full"><h3>Computing Science</h3></button>
                    <button class="btn btn-teal-lightest full"><h3>Computing Science with Mathematics</h3></button>
                    <button class="btn btn-teal-lightest full"><h3>Web Development</h3></button>
                    <button class="btn btn-teal-lightest full"><h3>Game Development</h3></button>

                </div>
            </div>
        </div>
        
{% endblock %}