{% extends 'unevu/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/subjects_review.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}"></link>   
    <script src="{% static 'js/sweetalert.min.js' %}"></script>    
    <link rel="stylesheet" href="{% static 'css/jquery.rateyo.min.css' %}"></link>
    <script src="{% static 'js/jquery.rateyo.min.js' %}"></script>
{% endblock %}

{% block body %}
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 review-div">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 review-subject">
                        <h1>{{title}} @ <a href="/university/{{uni_id}}">{{uni_name}}</a></h1>
                    </div>
                {% include "unevu/review_list.html" %}
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 subject-desc">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subject-desc-title">
                        <h1>Description</h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subject-desc-info">
                        <p>{{description}}</p>
                    </div>
                    {% if teacher %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subject-desc-teacher">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 teacher-details">
			                    <h2 class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">Contact Details</h2>
			                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 teacher-contact">
			                        <h3>Email: {{teacher.email}}</h3>
			                        <h3>Phone: {{teacher.mobile}}</h3>                
			                    </div>
			                    <div class="col-lg-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 teacher-image">
			                        <img src="{{teacher.imageUrl}}"/>                    
			                    </div>
			                </div>
                        </div>
                    {% else %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-teacher">
                            <h2>Sorry there are no teachers lined. 
                                {% if user.is_authenticated %}
                                    Add the teacher link below!
                                {% endif %} 
                            </h2>
                                
                            {% if user.is_authenticated %}
                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                    <div class="dropdown teacher-dropdown">
                                        <button class="btn btn-lg dropdown-toggle teacher-selector" type="button" data-toggle="dropdown">Teachers
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu pre-scrollable">
                                            {% for teacher in teachers %}
                                                <li><a class="teacher-list-name">{{teacher}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-4 col-sm-4 col-xs-4">
                                    <h3 class="selection-teacher">Selected : <strong><span class="selected-teacher">No Teacher Selected</span></strong></h3>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                    <button class="btn btn-teal btn-lg btn-save-teacher">Submit</button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="{% static 'js/subjects_review.js' %}"></script>     
{% endblock %}