{% extends 'unevu/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/subjects_review.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}"></link>   
    <script src="{% static 'js/sweetalert.min.js' %}"></script>    
    <link rel="stylesheet" href="{% static 'css/jquery.rateyo.min.css' %}"></link>
    <script src="{% static 'js/jquery.rateyo.min.js' %}"></script>
{% endblock %}

{% block body %}
        <div class="container">
            <div class="col-lg-12">
                <div class="col-lg-6 review-div">
                    <div class="col-lg-12 review-subject">
                        <h1>{{title}}</h1>
                    </div>
                    <div class="col-lg-12 reviews">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <button class="btn btn-lg btn-add-comment">Add a Review</button>
                        {% endif %}

                        {% if reviews %}
                        {% for review in reviews %}
                        <div class="col-lg-12 review review-1">
                            <div class="col-lg-6">
                                <h1 class="review-1-name review-title">{{review.username.username}}</h1>
                            </div>

                            <div class="col-lg-6 review-like-button">
                                <input class="review-rating" type="hidden" value="{{review.rating}}">

                                <div class="col-lg-2 col-lg-offset-3 univeristy-stars">
                                    <div data-id="{{review.rating}}" class="rateYo" data-rateyo-read-only="true" ></div>
                                    {% if review.rating %}
                                    <p class="rating" value="{{review.rating}}"></p>
                                    {% endif %}

                                </div>

                                <span class="glyphicon glyphicon-thumbs-up blue"></span>
                            </div>
                            <div class="col-lg-12">
                                <p class="review-1-desc review-desc">{{review.reviewText}}</p>
                            </div>

                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-lg-12 no-reviews">
                            <h2>There no reviews yet! Feel free to add one!</h2>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 subject-desc">
                    <div class="col-lg-12 subject-desc-title">
                        <h1>Description</h1>
                    </div>
                    <div class="col-lg-12 subject-desc-info">
                        <p>{{description}}</p>
                    </div>
                    {% if teacher %}
                        <div class="col-lg-12 subject-desc-teacher">
                            <h2>{{teacher}}</h2>
                            <p>{{teacher_description}}</p>
                        </div>
                    {% else %}
                        <div class="col-lg-12 no-teacher">
                            <h2>Sorry there are no teachers lined. Add the teacher link below!</h2>
                            <div class="dropdown teacher-dropdown">
                                <button class="btn btn-lg dropdown-toggle teacher-selector" type="button" data-toggle="dropdown">Teachers
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu pre-scrollable">
                                    {% for teacher in teachers %}
                                        <li><a href="#">{{teacher}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="{% static 'js/subjects_review.js' %}"></script>     
{% endblock %}