<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        
        <link rel="stylesheet" href="teachers_review.css"></link>
        
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <a class="navbar-brand" href="#"><img class="navbar-brand-img" alt="Brand" src="unevu-logo.png"/></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>                        
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </nav>
        <div class="container">
            <div class="col-lg-12">
                <div class="col-lg-6 review-div">
                    <div class="col-lg-12 review-teacher">
                        <h1>John Williamson</h1>
                    </div>
                    <div class="col-lg-12 reviews">
                        <div class="col-lg-12 review review-1">
                            <div class="col-lg-6">
                                <h1 class="review-1-name review-title">Gabs</h1>
                            </div>
                            <div class="col-lg-6 review-like-button">
                                <span class="glyphicon glyphicon-thumbs-up blue"></span>
                            </div>
                            <div class="col-lg-12">
                                <p class="review-1-desc review-desc">Loved the teacher, take extra care in 
                                        how to lay out questions and make sure you explain what you are doing 
                                        in each step. Essentially 
                                        someone else should be able to use your answer to understand the concept.</p>
                            </div>
                            </div>
                        <div class="col-lg-12 review review-1">
                            <div class="col-lg-6">                            
                                <h1 class="review-1-name review-title">Eleonora</h1>
                            </div>
                            <div class="col-lg-6 review-like-button">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </div>
                            <div class="col-lg-12">                            
                                <p class="review-1-desc review-desc">Practically impossible to fail. You get three 
                                    attempts at all tests. Only two assignments. Very fun course.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 review review-1">
                            <div class="col-lg-6">                            
                                <h1 class="review-1-name review-title">Reiss</h1>
                            </div>
                            <div class="col-lg-6 review-like-button">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </div>
                            <div class="col-lg-12">                                                        
                                <p class="review-1-desc review-desc">Very easy course if you have any kind of 
                                    computing background. Simple mathematics, just make sure you 
                                    make the time to study before the exams so you don't need to resit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 teacher-desc">
                    <div class="col-lg-12 teacher-desc-teacher">
                        <img src="john-williamson.png"/>
                        <p>My research is focused on continuous interaction 
                            systems and computational approaches to human-computer 
                            interaction. This includes gesture recognition/motion 
                            sensor based interfaces, brain-computer interaction, 
                            and particularly developing new feedback mechanisms 
                            for such systems.</p>
                    </div>
                    <div class="col-lg-12 contact">
                        <h2>Contact:</h2>
                        <div class="col-lg-6">
                                <p>Room 305<br>
                                    Sir Alwyn Williams Building<br>
                                    School of Computing Science<br>
                                    University of Glasgow<br>
                                    18 Lilybank Gardens<br>
                                    Glasgow<br>
                                    G12 8RZ<br>
                                    United Kingdom<br>
                        </div>
                        <div class="col-lg-6">
                            <p>
                            <a href="mailto:jhw@dcs.gla.ac.uk">jhw@dcs.gla.ac.uk</a><br>
                            Tel: +44 (0) 141 330 1650<br></p>
                        </div>
                        
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>