{% extends 'unevu/base.html' %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/university.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/jquery.rateyo.min.css' %}"></link>
    <script src="{% static 'js/jquery.rateyo.min.js' %}"></script>

{% endblock %}

{% block body %}
        <div class="container">
            <div class="col-lg-12 university-div">
                    <div class="col-lg-6 university-info">
                        <div class="col-lg-12 university-title">
                            <div class="col-lg-9 university-name">
                                <h1>{{university_name}}</h1>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1 university-stars">
                                <div id="rateYo"></div>
                                <p class="rating">{{rating}}</p>                  
                            </div>
                        </div>
                        <div class="col-lg-12 university-desc">
                            <p>{{university_description}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 university-maps">
                        <div id="map"></div>
                    </div>
            </div>
            <div class="col-lg-12 pick-school-detail">
                {% csrf_token %}
                <div class="col-lg-12 pick-school-detail-title">
                    <h1>Choose A <span class="type">School</span></h1>
                </div>
                <div class="col-lg-6 pick-school">
                    {% if schools %}
                        {% for school in schools %}
                            <button class="btn btn-teal full school"><h3>{{school}}</h3></button>
                        {% endfor %}
                    {% else %}
                        <h3> There are no schools setup yet! </h3>
                    {% endif %}
                </div>
                <div class="col-lg-6 pick-course">
                </div>
            </div>
        <!-- Adding the scripts that need to be run after the html has been rendered -->
        <script src="{% static 'js/university.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4wyk_1SARG8XS0NPUkYWQFqFa5eJq9JA&callback=initMap"></script>
{% endblock %}