{% extends 'unevu/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/universities_review.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}"></link>   
    <script src="{% static 'js/sweetalert.min.js' %}"></script>    
    <link rel="stylesheet" href="{% static 'css/jquery.rateyo.min.css' %}"></link>
    <script src="{% static 'js/jquery.rateyo.min.js' %}"></script>
{% endblock %}

{% block body %}
        <div class="container">
            <div class="col-lg-12">
                <div class="col-lg-6 review-div">
                    <div class="col-lg-12 review-subject">
                        <h1>{{title}}</h1>
                    </div>
                {% include "unevu/review_list.html" %}
                </div>
                <div class="col-lg-6 subject-desc">
                    <div class="col-lg-12 subject-desc-title">
                        <h1>Description</h1>
                    </div>
                    <div class="col-lg-12 subject-desc-info">
                        <p>{{description}}</p>
                    </div>
                     <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12  university-maps">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <h2 class="university-location-title"> Location </h2>
                         </div>
                        <input class="map-lat" type="hidden" value="{{lat}}">
                        <input class="map-lng" type="hidden" value="{{lng}}">
                        <br><br>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/universities_review.js' %}"></script>    
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4wyk_1SARG8XS0NPUkYWQFqFa5eJq9JA&callback=initMap"></script> 
{% endblock %}