.container {
    padding:0 !important;
    margin:3% !important;
    font-family: 'Abel', sans-serif;
    width:85%;
}

.preferences-div {
    margin-top:5%;
}

.preferences-buttons {
    border:1px solid teal;
    border-radius: 6px;
    padding:2%;
}

.preferences-buttons button {
    width: 100%;
    margin:2%;
}


.btn-teal {
    background-color: teal;
    color:white;
}

.full {
    width:85%;
}

.preferences-info-title {
    padding-left: 5%;
    font-size:42px;
    margin-bottom: 4%;
}

.save-details {
    margin-top:2%;
    float: right;
}

.liked,.edited {
    font-weight: bold;
    color: #006767;
}

.like:hover , .edit:hover {
    zoom:1.1;
}


.review-subject {
    text-align: center;
}

.review-subject h1 {
    font-size: 45px;    
}

.review p {
    font-size:24px;
}

.review {
    border:2px solid #008080;
    border-radius: 15px;
    width:100%;
    margin-top:5%;
}

.review-desc {
    border:2px solid #008080;
    border-radius: 15px;
    padding:2%;
}

.review-title {
    font-weight: bold;
}

.reviews {
    margin-top:5%;
}


.review-like-button {
    padding-top: 2%;
    text-align: right;
    font-size: 2em;
}

.blue {
    color: #008080;
}

.edit-div {
    margin: auto;
}

.edit-glyphicon-div {
    padding-left:2%;
}

.edit {
    font-size:24px;
}


.delete-account {
    padding:2%;
    margin-left:2%;
}