.container {
    padding:0 !important;
    margin-top:5% !important;   
    font-family: 'Abel', sans-serif;
    width:100%;
}

.review-subject {
    text-align: center;
}

.review-subject h1 {
    font-size: 45px;    
}

.review p {
    font-size:24px;
}

.review {
    border:2px solid #008080;
    border-radius: 15px;
    width:100%;
    margin-top:5%;
}

.review-desc {
    border:2px solid #008080;
    border-radius: 15px;
    padding:2%;
}

.review-title {
    font-weight: bold;
}

.reviews {
    margin-top:5%;
}

.subject-desc {
    margin-top:5%;
}

.subject-desc-title h1 {
    text-align: center;
}

.subject-desc-info p {
    font-size: 26px;
    padding: 2%;
    text-align: justify;
}

.subject-desc-teacher h2{
    text-align: center;
    font-weight: bold;
}

.subject-desc-teacher img{
    display: block;
    margin: 0 auto;
    margin-top:5%;
}

.subject-desc-teacher p {
    font-size: 25px;
    padding: 2%;
}

.review-like-button {
    padding-top: 2%;
    text-align: right;
    font-size: 2em;
}

.blue {
    color: #008080;
}

.btn-add-comment {
    float:right;
    color:white;
    background-color: teal;
}

.teacher-selector {
    background-color:teal;
    color:white;
}

.teacher-dropdown {
    float: right;
}

.no-teacher h2 {
    text-align: center;
}

.teacher-dropdown-menu {
    height: 100px;
}

#text {
    width:100%;
    height:100%;    
    padding:5%;
}