
.container {
    padding:0 !important;
    margin:3% !important;   
    font-family: 'Abel', sans-serif;
    width:90%;
}

.btn-add-comment {
    float:right;
    color:white;
    background-color: teal;
}

.btn-view-more {
    float:right;
    color:white;
    background-color:teal;
}

.review-subject {
    text-align: center;
}

.review-subject h1 {
    font-size: 45px;    
}

.review p {
    font-size:24px;
}

.review {
    border:2px solid #008080;
    border-radius: 15px;
    margin-top:2%;
    margin-right: 3%;
}

.review-desc {
    border:2px solid #008080;
    border-radius: 15px;
    padding:2%;
}

.review-title {
    font-weight: bold;
}

.reviews {
    margin-top:3%;
}

.review-like-button {
    padding-top: 2%;
    text-align: right;
    font-size: 2em;
}

.blue {
    color: #008080;
}

.btn-teal {
    background-color:#006666;
    color:white;
}

.btn-teal-light {
    background-color:	#008080;
    color:white;
}

.btn-teal-lightest {
    background-color:	#5F9F9F;
    color:white;
}


.full {
    width:100%;
    margin-top:5px;
}

.toggle-teacher-course-div { 
    margin-top:5%;
    margin-bottom: 1%;
}

.btn-primary {
    background-color: teal !important;
}

.pick-school-detail {
    border: 2px solid #008080;
    border-radius: 24px;
    text-align: center;
    padding: 5%;
}

.pick-school-detail-title {
    text-align: center;
    margin-top:-2%;
    margin-bottom:2%;
}

.pick-school {
    max-height:500px;
    overflow-y:scroll;
}

.pick-school button{
    white-space: normal;
}

.university-stars {
    margin-top:2%;
}

.university-stars p {
    position: relative;
    bottom:30px;
    left:180px;
    font-size:24px; 
}


#map {
    height: 300px;
    width: 100%;
}

.university-div {
    padding:5%;
}

.university-info {
    padding-left:5%;
}

.university-desc p {
    font-size:24px;
    margin-top:5%;
    margin-left:5%;
    text-align: justify;
}

.review-ratings-stars {
    margin-top:2%;
}